/* Стили для заголовка h1 */
h1 {
    color: #333; /* Цвет текста */
    font-size: 24px; /* Размер шрифта */
    text-align: center; /* Выравнивание по центру */
}

/* Стили для формы */
form {
    max-width: 400px; /* Максимальная ширина формы */
    margin: 0 auto; /* Центрирование формы на странице */
    padding: 20px; /* Внутренние отступы */
    border: 1px solid #ccc; /* Граница формы */
    border-radius: 5px; /* Скругление углов */
    background-color: #f9f9f9; /* Цвет фона формы */
}

/* Стили для текстовых полей ввода и меток */
label, input {
    display: block; /* Отображение каждого элемента на новой строке */
    margin-bottom: 10px; /* Отступ между элементами */
}

/* Стили для кнопки */
button {
    background-color: #007bff; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    border: none; /* Убираем границу */
    padding: 10px 20px; /* Внутренние отступы */
    border-radius: 5px; /* Скругление углов */
    cursor: pointer; /* Изменение курсора при наведении */
}

/* Стили для результата */
#result {
    font-weight: bold; /* Полужирный текст */
    font-size: 18px; /* Размер шрифта */
    color: #007bff; /* Цвет текста */
}
